body.cupcake {
    background-color: rgb(255, 203, 212);
}

div.wrapper {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr);  */
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

h1.logo {
    font-family: 'Dancing Script', cursive; 
    color: white;
}

h3.form-title {
    font-family: 'Dancing Script', cursive; 
    color: white;
    text-align: center;
}

#create-cupcake-form {
    text-align: center;
}

#logo {
    border-radius: 50%;

}

.box {
    margin:0 auto; 
    width:600px; 
    padding:20px;
    background:rgb(255, 255, 205);
    border:2px solid rgb(248, 125, 189);
    border-radius: 50%;
}


